name: AWS CodeBuild CI

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    if: ${{ false }}
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CI_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CI_AWS_ACCESS_KEY_SECRET }}
          aws-region: us-west-2
      - name: Run CodeBuild
        uses: aws-actions/aws-codebuild-run-build@v1.0.3
        with:
          project-name: aws-dotnet-deploy-ci
