name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main
      
  # Allow the workflow to be triggered also manually.
  workflow_dispatch:
  
permissions:
  id-token: write
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.CI_AWS_ROLE_ARN }}
          aws-region: us-west-2
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Setup .NET Core 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - run: pip install mkdocs-material==8.2.9
      - run: pip install mkdocs-awesome-pages-plugin==2.8.0
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Run Client Generator
        run: |
          cd ./src/AWS.Deploy.DocGenerator
          dotnet run --project ./AWS.Deploy.DocGenerator.csproj
      - name: Check For Git Untracked Changes
        id: gitcheck
        shell: pwsh
        run: |
          $newFiles=$(git ls-files --others --exclude-standard | wc -l)
          $modifiedFiles=$(git diff --name-only | wc -l)
          "newFiles=$newFiles" >> $env:GITHUB_OUTPUT
          "modifiedFiles=$modifiedFiles" >> $env:GITHUB_OUTPUT
      - name: Commit and Push next version
        if: steps.gitcheck.outputs.newFiles != 0 || steps.gitcheck.outputs.modifiedFiles != 0
        id: commit-push
        run: |
          git config --global user.email "github-aws-sdk-dotnet-automation@amazon.com"
          git config --global user.name "aws-sdk-dotnet-automation"
          git add site/
          git commit -m "Update documentation generated by AWS.Deploy.DocGenerator"
          git push
      - run: mkdocs gh-deploy --force